<head>
    <title>Dashboard</title>
    <script type="text/javascript" src="S_Signup.js"></script>
    <form id="formSignup" action="S_Signup.php" method="post">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="Styles/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js'></script>
        <input type="hidden" name="submitted" value="1" />
</head>

<body>



    <div class="header">
    </div>

    <div id="nav" class="navbar navbar-expand-lg navbar-light" style="background-color: #C5DBAF;">
        <a class="navbar-brand" href="index.html">Suomen Uusiokuori</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <ul class="nav navbar-nav mr-auto">

                <li class="nav-item"><a class="nav-link" href="OrderHistory.html"> My Orders </a></li>
                <li class="nav-item"><a class="nav-link" href="OrderPage.html"> New Order</a></li>
            </ul>
            <ul class="nav navbar-nav m1-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Hei, Antti asiakas </a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item"> User Settings </a>
                        <a href="login.html" class="dropdown-item"> Logout </a>
                    </div>
                </div>


            </ul>
        </div>
    </div>

    <section class="container-fluid bg">
        <section class="row justify-content-center">
            <img class="logo col-lg-3 col-md-6" src="img/logo.png" alt="Logo">
        </section>
        <section class="row justify-content-center">
            <div class="form-container col-lg-4 col-md-8 col-sm-8 col-xs-10">
                <h2>Tilaus vastaanotettu</h2>
                <p>Tilauksesi on vastaanotettu. Ohessa tilauksesi tiedot:</p>
                <br>
                <h6>Tilausnumero: 002209</h6>
                <p>Asiakasnumero: 12345</p>
            </div>
        </section>
    </section>
</body>

</html>